img{
    height: 500px;
}
/* .card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  height:auto;
  width:auto;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}

.card-text{
  height:50px;  
  font-size: 11px;
} */
